.md-layout .md-card.md-table {
  width: calc(100% - 32px);
}

.md-layout .md-card.md-table .md-table-content{
  overflow: auto;
  width: 100%;
  max-height: 600px;
}

.md-toolbar.md-theme-default.md-primary {
  background-color: #072938;
}

.md-button-content i.material-icons+span{
  vertical-align: super;
}

.md-autocomplete .md-menu {
  z-index: 1;
}
