@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #00757f, // The primary color of your brand
  accent: #1a11e8 // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.page-container {
  height: 100%;
}

.md-app {
  min-height: 450px;
  height: 100%;
}
